\__pycache__
\3d_tumor_results
\batch_test_results
\compare_results
\dataset_segmentation
\copies
\not_using
\summary
\summary_20250813_181859
\batch_test_results_20250813_181859
\dataset_segmentation
\test_results

*.png
*.txt
*.csv
*.json
*.pth
*.nii.gz
*.zip